@mixin center() {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);
}
@mixin keyframes($animationName) {
  @-webkit-keyframes #{$animationName} {
    @content;
  }
  @-moz-keyframes #{$animationName} {
    @content;
  }
  @-o-keyframes #{$animationName} {
    @content;
  }
  @keyframes #{$animationName} {
    @content;
  }
}

@mixin copper() {
  color: white;
  text-shadow: 0 0 5px black;
  background: linear-gradient(
    45deg,
    #ca7345,
    #ffdeca 16%,
    #ca7345 21%,
    #ffdeca 24%,
    #a14521 27%,
    #ca7345 36%,
    #ffdeca 45%,
    #ffdeca 60%,
    #ca7345 72%,
    #ffdeca 80%,
    #ca7345 84%,
    #732100
  );
}

@mixin silver() {
  color: white;
  text-shadow: 0 0 5px black;
  background: linear-gradient(
    45deg,
    #dedede,
    #ffffff 16%,
    #dedede 21%,
    #ffffff 24%,
    #dedede 36%,
    #ffffff 45%,
    #ffffff 60%,
    #dedede 72%,
    #ffffff 80%,
    #dedede 84%,
    #a1a1a1
  );
}

@mixin gold() {
  color: white;
  text-shadow: 0 0 5px black;
  background: linear-gradient(
    45deg,
    #bf953f,
    #fcf6ba,
    #b38728,
    #fbf5b7,
    #aa771c
  );
}

@mixin rainbow() {
  color: white;
  text-shadow: 0 0 5px black;
  background: linear-gradient(0deg, #ffd306, #98c9d6, #8600ff);
}
@mixin purple-bg {
  background: linear-gradient(
    180deg,
    #be77ff,
    #8600ff 80%,
    #ffffff 81%,
    black 82%
  );
}
@mixin red-bg {
  background: linear-gradient(
    180deg,
    #d4292e,
    #72060a 80%,
    #ffffff 81%,
    black 82%
  );
}
@mixin orange-bg {
  background: linear-gradient(
    180deg,
    #ffa042,
    #db7202 80%,
    #ffffff 81%,
    black 82%
  );
}

@mixin blue-bg {
  background: linear-gradient(
    180deg,
    #46a3ff,
    #005ab5 80%,
    #ffffff 81%,
    black 82%
  );
}
